:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--appPrimaryBackgroundColor);
  color: var(--systemPrimary);
  font-family: "-apple-system", BlinkMacSystemFont, "-webkit-system-font", "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}

body.body-scroll-lock {
  overflow: hidden;
  height: 100vh;
  padding-right:var(--scrollbar-width)
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* ######################################################################## */
.divider {
  margin: 20px 0;
  border-bottom: 1px solid #333;
}

/* 1239 */
img {
  border-style:none
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin:0
}

button, input {
  overflow:visible
}

button, select {
  text-transform:none
}

body, button, input, select, textarea {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale
}

body, button, input, select, textarea {
  -moz-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance:button;
  appearance: button;
}

/* 1324 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

a, blockquote, body, code, dd, div, dl, dt, embed, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, html, img, legend, li, ol, p, pre, section, table, td, th, ul {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
}

/* 4869 */
:root {
  --bodyGutter: 25px;
  /* color-scheme:light dark; */
  --systemRed: #ff3b30;
  --systemRed-vibrant: #f53126;
  --systemRed-default_IC: #d70015;
  --systemRed-vibrant_IC: #c20618;
  --systemOrange: #ff9500;
  --systemOrange-vibrant: #f58b00;
  --systemOrange-default_IC: #c93400;
  --systemOrange-vibrant_IC: #ad3a00;
  --systemYellow: #ffcc00;
  --systemYellow-vibrant: #f5c200;
  --systemYellow-default_IC: #a05a00;
  --systemYellow-vibrant_IC: #925100;
  --systemGreen: #28cd41;
  --systemGreen-vibrant: #1ec337;
  --systemGreen-default_IC: #007d1b;
  --systemGreen-vibrant_IC: #007018;
  --systemMint: #00c7be;
  --systemMint-vibrant: #00bdb4;
  --systemMint-default_IC: #0c817b;
  --systemMint-vibrant_IC: #0b7570;
  --systemTeal: #59adc4;
  --systemTeal-vibrant: #2ea7bd;
  --systemTeal-default_IC: #008299;
  --systemTeal-vibrant_IC: #00778c;
  --systemCyan: #55bef0;
  --systemCyan-vibrant: #41afdc;
  --systemCyan-default_IC: #0071a4;
  --systemCyan-vibrant_IC: #006796;
  --systemBlue: #007aff;
  --systemBlue-vibrant: #0070f5;
  --systemBlue-default_IC: #0040dd;
  --systemBlue-vibrant_IC: #0040dd;
  --systemBlue-rollover: #0045b7;
  --systemBlue-pressed: #005cd7;
  --systemBlue-deepPressed: #0045b7;
  --systemBlue-disabled: rgba(0, 122, 255, 0.35);
  --systemIndigo: #5856d6;
  --systemIndigo-vibrant: #5452cc;
  --systemIndigo-default_IC: #3634a3;
  --systemIndigo-vibrant_IC: #3634a3;
  --systemPurple: #af52de;
  --systemPurple-vibrant: #9f4bc9;
  --systemPurple-default_IC: #ad44ab;
  --systemPurple-vibrant_IC: #ad44ab;
  --systemPink: #ff2d55;
  --systemPink-vibrant: #f5234b;
  --systemPink-default_IC: #d30f45;
  --systemPink-vibrant_IC: #c11032;
  --systemBrown: #a2845e;
  --systemBrown-vibrant: #987a54;
  --systemBrown-default_IC: #7f6545;
  --systemBrown-vibrant_IC: #775d3b;
  --systemGray: #8e8e93;
  --systemGray-vibrant: #848489;
  --systemGray-default_IC: #69696e;
  --systemGray-vibrant_IC: #616165;
  --systemPrimary: rgba(0, 0, 0, 0.85);
  --systemPrimary-vibrant: #4c4c4c;
  --systemPrimary-onLight: rgba(0, 0, 0, 0.85);
  --systemPrimary-onDark: rgba(255, 255, 255, 0.85);
  --systemPrimary-default_IC: black;
  --systemPrimary-vibrant_IC: black;
  --systemPrimary-onLight_IC: black;
  --systemPrimary-onDark_IC: white;
  --systemSecondary: rgba(0, 0, 0, 0.5);
  --systemSecondary-vibrant: gray;
  --systemSecondary-onLight: rgba(0, 0, 0, 0.5);
  --systemSecondary-onDark: rgba(255, 255, 255, 0.55);
  --systemSecondary-default_IC: rgba(0, 0, 0, 0.76);
  --systemSecondary-vibrant_IC: rgba(0, 0, 0, 0.76);
  --systemSecondary-onLight_IC: rgba(0, 0, 0, 0.76);
  --systemSecondary-onDark_IC: rgba(255, 255, 255, 0.7);
  --systemTertiary: rgba(0, 0, 0, 0.25);
  --systemTertiary-vibrant: #bfbfbf;
  --systemTertiary-onLight: rgba(0, 0, 0, 0.25);
  --systemTertiary-onDark: rgba(255, 255, 255, 0.25);
  --systemTertiary-default_IC: rgba(0, 0, 0, 0.56);
  --systemTertiary-vibrant_IC: rgba(0, 0, 0, 0.56);
  --systemTertiary-onLight_IC: rgba(0, 0, 0, 0.56);
  --systemTertiary-onDark_IC: rgba(255, 255, 255, 0.5);
  --systemQuaternary: rgba(0, 0, 0, 0.1);
  --systemQuaternary-vibrant: #e6e6e6;
  --systemQuaternary-onLight: rgba(0, 0, 0, 0.1);
  --systemQuaternary-onDark: rgba(255, 255, 255, 0.1);
  --systemQuaternary-default_IC: rgba(0, 0, 0, 0.35);
  --systemQuaternary-vibrant_IC: rgba(0, 0, 0, 0.35);
  --systemQuaternary-onLight_IC: rgba(0, 0, 0, 0.35);
  --systemQuaternary-onDark_IC: rgba(255, 255, 255, 0.3);
  --systemQuinary: rgba(0, 0, 0, 0.05);
  --systemQuinary-vibrant: #f2f2f2;
  --systemQuinary-onLight: rgba(0, 0, 0, 0.05);
  --systemQuinary-onDark: rgba(255, 255, 255, 0.05);
  --systemQuinary-default_IC: rgba(0, 0, 0, 0.1);
  --systemQuinary-vibrant_IC: rgba(0, 0, 0, 0.1);
  --systemQuinary-onLight_IC: rgba(0, 0, 0, 0.1);
  --systemQuinary-onDark_IC: rgba(255, 255, 255, 0.1);
  --keyColor: #007aff;
  --keyColor-default_IC: #0040dd;
  --systemStandardUltrathinMaterialSover: rgba(246, 246, 246, 0.36);
  --systemStandardUltrathinMaterialSover-inactive: #f0f0f0;
  --systemStandardUltrathinMaterialSover-default_IC: #d2d2d2;
  --systemStandardUltrathinMaterialSover-inactive_IC: #ececec;
  --systemStandardThinMaterialSover: rgba(246, 246, 246, 0.48);
  --systemStandardThinMaterialSover-inactive: #f0f0f0;
  --systemStandardThinMaterialSover-default_IC: gainsboro;
  --systemStandardThinMaterialSover-inactive_IC: #ececec;
  --systemStandardMediumMaterialSover: rgba(246, 246, 246, 0.6);
  --systemStandardMediumMaterialSover-inactive: #f0f0f0;
  --systemStandardMediumMaterialSover-default_IC: #e6e6e6;
  --systemStandardMediumMaterialSover-inactive_IC: #ececec;
  --systemStandardThickMaterialSover: rgba(246, 246, 246, 0.72);
  --systemStandardThickMaterialSover-inactive: #f0f0f0;
  --systemStandardThickMaterialSover-default_IC: #f0f0f0;
  --systemStandardThickMaterialSover-inactive_IC: #ececec;
  --systemStandardUltrathickMaterialSover: rgba(246, 246, 246, 0.84);
  --systemStandardUltrathickMaterialSover-inactive: #f0f0f0;
  --systemStandardUltrathickMaterialSover-default_IC: #fafafa;
  --systemStandardUltrathickMaterialSover-inactive_IC: #ececec;
  --systemHeaderMaterialSover: rgba(255, 255, 255, 0.8);
  --systemHeaderMaterialSover-default_IC: white;
  --systemToolbarTitlebarMaterialSover: rgba(253, 253, 253, 0.8);
  --systemToolbarTitlebarMaterialSover-inactive: #f0f0f0;
  --systemToolbarTitlebarMaterialSover-default_IC: white;
  --systemToolbarTitlebarMaterialSover-inactive_IC: #ececec;
  --labelDivider: rgba(0, 0, 0, 0.15);
  --vibrantDivider: rgba(60, 60, 67, 0.29);
  --pageBG: white;
  --shelfBG: rgba(0, 0, 0, 0.05);
  --genericJoeColor: #ebebeb;
  --fallbackMaterialBG: rgba(255, 255, 255, 0.97);
  --liveBadgePlatterBG: #ff5066;
  --keyColorBackground: #007aff;
  --keyColorBackground-default_IC: #0040dd;
  --appPrimaryBackgroundColor: white;
  --appSecondaryBackgroundColor: #f0f0f3;
  --alertDropShadowColor: rgba(0, 0, 0, 0.25);
  --alertOuterStrokeColor: rgba(0, 0, 0, 0.2);
  --appModalBackgroundColor: white;
  --artworkBorderColor: rgba(151, 151, 151, 0.2);
  --ctaButtonBackgroundColor: white;
  --cardBackgroundColor: white;
  --defaultButtonBackgroundColor: rgba(84, 84, 84, 0.5);
  --dialogShadowColor: rgba(0, 0, 0, 0.25);
  --disabledLightColor: rbga(255, 255, 255, 0.4);
  --dividerTextColor: rgba(60, 60, 67, 0.29);
  --fauxNativeSheetBackgroundColor: white;
  --labelSecondary: rgba(235, 235, 245, 0.6);
  --liveBadgeBackgroundColor: #ff5066;
  --mobileNavigationBG: white;
  --modalBoxShadowColor: rgba(0, 0, 0, 0.24);
  --modalCloseButtonIconColor: rgba(60, 60, 67, 0.6);
  --modalContentOverlayColorEnd: white;
  --modalContentOverlayColorStart: rgba(255, 255, 255, 0);
  --modalHeaderBackgroundColor: rgba(255, 255, 255, 0.97);
  --modalHeaderShadowColor: rgba(0, 0, 0, 0.2);
  --modalScrimColor: rgba(0, 0, 0, 0.45);
  --navigationBackgroundColor: #eeeeee;
  --navigationBorderColor: #aaaaaa;
  --navigationBorderBottomColor: #aaaaaa;
  --navigationBorderLeftColor: #bbbbbb;
  --navigationBorderRightColor: #bbbbbb;
  --navigationBorderTopColor: #eeeeee;
  --navigationLinkSelectionStateColor: rgba(60, 60, 67, 0.1);
  --navigationMobileMenuBackgroundColor: white;
  --navigationScrollBackgroundColor: rgba(0, 0, 0, 0.4);
  --navigationScrollBackgroundFallbackColor: rgba(0, 0, 0, 0.6);
  --navigationTextColor: #555555;
  --overlayBackgroundColor: rgba(51, 51, 51, 0.3);
  --overlayButtonPlatterColor: rgba(255, 255, 255, 0.2);
  --personHeaderBackgroundColor: rgba(40, 40, 40, 0.9);
  --playerBackground: rgba(255, 255, 255, 0.88);
  --playbackOverlayBackgroundColor: rgba(51, 51, 51, 0.7);
  --progressBarColor: rgba(255, 255, 255, 0.4);
  --progressBarFillColor: white;
  --searchInputBorderColor: rgba(0, 0, 0, 0.15);
  --settingsMenuPointer: rgba(255, 255, 255, 0.5);
  --sidebarActiveItemBackgroundColor: rgba(60, 60, 67, 0.1);
  --sidebarBackgroundColor: rgba(60, 60, 67, 0.03);
  --sidebarSearchInputBorderColor: rgba(0, 0, 0, 0.15);
  --sportLockupClockTimeBadgeBackgroundColor: rgba(0, 0, 0, 0.2);
  --sportLockupScoreBadgeDivider: rgba(0, 0, 0, 0.15);
  --unifiedVolumeThumbShadow: rgba(0, 0, 0, 0.1);
  --unifiedVolumeThumbShadowInset: rgba(0, 0, 0, 0.15);
  --unifiedVolumeTrackFilled: rgba(246, 246, 246, 0.36);
  --unifiedVolumeThumb: #d0d0d0;
  --unifiedPlayerIcons: rgba(0, 0, 0, 0.95);
  --navigationIconColor: #7f7f7f;
  --modalBGColor: rgba(255, 255, 255, 1);
  --labelPrimary: rgba(0, 0, 0, 0.95);
  --shelf-arrow-offset: 38px;
  --skip-button-visibility: hidden;
  --video-percentage-occupied: 0%;
  --nav-height: 52px;
  --animation-duration-multiplier: 1;
  --animation-duration: calc(500ms * var(--animation-duration-multiplier));
  --easing: cubic-bezier(0.11, 0.37, 0.36, 1);
  --league-standings-background: rgba(58, 58, 60, 1);
}

@supports not (font: -apple-system-body) {
  :root {
      --systemPrimary: rgba(0, 0, 0, 0.88);
      --systemPrimary-vibrant: #1d1d1f;
      --systemPrimary-onLight: rgba(0, 0, 0, 0.88);
      --systemPrimary-onDark: rgba(255, 255, 255, 0.92);
      --systemSecondary: rgba(0, 0, 0, 0.56);
      --systemSecondary-vibrant: rgba(0, 0, 0, 0.56);
      --systemSecondary-onLight: rgba(0, 0, 0, 0.56);
      --systemSecondary-onDark: rgba(255, 255, 255, 0.64);
      --systemTertiary: rgba(0, 0, 0, 0.48);
      --systemTertiary-vibrant: rgba(0, 0, 0, 0.48);
      --systemTertiary-onLight: rgba(0, 0, 0, 0.48);
      --systemTertiary-onDark: rgba(255, 255, 255, 0.4);
      --keyColorBackground:#0040dd
  }
}

:root .increase-contrast {
  --systemRed: #d70015;
  --systemRed-vibrant: #c20618;
  --systemOrange: #c93400;
  --systemOrange-vibrant: #ad3a00;
  --systemYellow: #a05a00;
  --systemYellow-vibrant: #925100;
  --systemGreen: #007d1b;
  --systemGreen-vibrant: #007018;
  --systemMint: #0c817b;
  --systemMint-vibrant: #0b7570;
  --systemTeal: #008299;
  --systemTeal-vibrant: #00778c;
  --systemCyan: #0071a4;
  --systemCyan-vibrant: #006796;
  --systemBlue: #0040dd;
  --systemBlue-vibrant: #0040dd;
  --systemIndigo: #3634a3;
  --systemIndigo-vibrant: #3634a3;
  --systemPurple: #ad44ab;
  --systemPurple-vibrant: #ad44ab;
  --systemPink: #d30f45;
  --systemPink-vibrant: #c11032;
  --systemBrown: #7f6545;
  --systemBrown-vibrant: #775d3b;
  --systemGray: #69696e;
  --systemGray-vibrant: #616165;
  --systemPrimary: black;
  --systemPrimary-vibrant: black;
  --systemPrimary-onLight: black;
  --systemPrimary-onDark: white;
  --systemSecondary: rgba(0, 0, 0, 0.76);
  --systemSecondary-vibrant: rgba(0, 0, 0, 0.76);
  --systemSecondary-onLight: rgba(0, 0, 0, 0.76);
  --systemSecondary-onDark: rgba(255, 255, 255, 0.7);
  --systemTertiary: rgba(0, 0, 0, 0.56);
  --systemTertiary-vibrant: rgba(0, 0, 0, 0.56);
  --systemTertiary-onLight: rgba(0, 0, 0, 0.56);
  --systemTertiary-onDark: rgba(255, 255, 255, 0.5);
  --systemQuaternary: rgba(0, 0, 0, 0.35);
  --systemQuaternary-vibrant: rgba(0, 0, 0, 0.35);
  --systemQuaternary-onLight: rgba(0, 0, 0, 0.35);
  --systemQuaternary-onDark: rgba(255, 255, 255, 0.3);
  --systemQuinary: rgba(0, 0, 0, 0.1);
  --systemQuinary-vibrant: rgba(0, 0, 0, 0.1);
  --systemQuinary-onLight: rgba(0, 0, 0, 0.1);
  --systemQuinary-onDark: rgba(255, 255, 255, 0.1);
  --keyColor: #0040dd;
  --systemStandardUltrathinMaterialSover: #d2d2d2;
  --systemStandardUltrathinMaterialSover-inactive: #ececec;
  --systemStandardThinMaterialSover: gainsboro;
  --systemStandardThinMaterialSover-inactive: #ececec;
  --systemStandardMediumMaterialSover: #e6e6e6;
  --systemStandardMediumMaterialSover-inactive: #ececec;
  --systemStandardThickMaterialSover: #f0f0f0;
  --systemStandardThickMaterialSover-inactive: #ececec;
  --systemStandardUltrathickMaterialSover: #fafafa;
  --systemStandardUltrathickMaterialSover-inactive: #ececec;
  --systemHeaderMaterialSover: white;
  --systemToolbarTitlebarMaterialSover: white;
  --systemToolbarTitlebarMaterialSover-inactive: #ececec;
  --keyColorBackground:#0040dd
}

@media (prefers-contrast: more) {
  :root {
      --systemRed: #d70015;
      --systemRed-vibrant: #c20618;
      --systemOrange: #c93400;
      --systemOrange-vibrant: #ad3a00;
      --systemYellow: #a05a00;
      --systemYellow-vibrant: #925100;
      --systemGreen: #007d1b;
      --systemGreen-vibrant: #007018;
      --systemMint: #0c817b;
      --systemMint-vibrant: #0b7570;
      --systemTeal: #008299;
      --systemTeal-vibrant: #00778c;
      --systemCyan: #0071a4;
      --systemCyan-vibrant: #006796;
      --systemBlue: #0040dd;
      --systemBlue-vibrant: #0040dd;
      --systemIndigo: #3634a3;
      --systemIndigo-vibrant: #3634a3;
      --systemPurple: #ad44ab;
      --systemPurple-vibrant: #ad44ab;
      --systemPink: #d30f45;
      --systemPink-vibrant: #c11032;
      --systemBrown: #7f6545;
      --systemBrown-vibrant: #775d3b;
      --systemGray: #69696e;
      --systemGray-vibrant: #616165;
      --systemPrimary: black;
      --systemPrimary-vibrant: black;
      --systemPrimary-onLight: black;
      --systemPrimary-onDark: white;
      --systemSecondary: rgba(0, 0, 0, 0.76);
      --systemSecondary-vibrant: rgba(0, 0, 0, 0.76);
      --systemSecondary-onLight: rgba(0, 0, 0, 0.76);
      --systemSecondary-onDark: rgba(255, 255, 255, 0.7);
      --systemTertiary: rgba(0, 0, 0, 0.56);
      --systemTertiary-vibrant: rgba(0, 0, 0, 0.56);
      --systemTertiary-onLight: rgba(0, 0, 0, 0.56);
      --systemTertiary-onDark: rgba(255, 255, 255, 0.5);
      --systemQuaternary: rgba(0, 0, 0, 0.35);
      --systemQuaternary-vibrant: rgba(0, 0, 0, 0.35);
      --systemQuaternary-onLight: rgba(0, 0, 0, 0.35);
      --systemQuaternary-onDark: rgba(255, 255, 255, 0.3);
      --systemQuinary: rgba(0, 0, 0, 0.1);
      --systemQuinary-vibrant: rgba(0, 0, 0, 0.1);
      --systemQuinary-onLight: rgba(0, 0, 0, 0.1);
      --systemQuinary-onDark: rgba(255, 255, 255, 0.1);
      --keyColor: #0040dd;
      --systemStandardUltrathinMaterialSover: #d2d2d2;
      --systemStandardUltrathinMaterialSover-inactive: #ececec;
      --systemStandardThinMaterialSover: gainsboro;
      --systemStandardThinMaterialSover-inactive: #ececec;
      --systemStandardMediumMaterialSover: #e6e6e6;
      --systemStandardMediumMaterialSover-inactive: #ececec;
      --systemStandardThickMaterialSover: #f0f0f0;
      --systemStandardThickMaterialSover-inactive: #ececec;
      --systemStandardUltrathickMaterialSover: #fafafa;
      --systemStandardUltrathickMaterialSover-inactive: #ececec;
      --systemHeaderMaterialSover: white;
      --systemToolbarTitlebarMaterialSover: white;
      --systemToolbarTitlebarMaterialSover-inactive: #ececec;
      --keyColorBackground:#0040dd
  }
}

/* 5219 */
@media (prefers-color-scheme: dark) {
  :root {
      --systemRed: #ff453a;
      --systemRed-vibrant: #ff4f44;
      --systemRed-default_IC: #ff6961;
      --systemRed-vibrant_IC: #ff4136;
      --systemOrange: #ff9f0a;
      --systemOrange-vibrant: #ffa914;
      --systemOrange-default_IC: #ffb340;
      --systemOrange-vibrant_IC: #ffb340;
      --systemYellow: #ffd60a;
      --systemYellow-vibrant: #ffe014;
      --systemYellow-default_IC: #ffd426;
      --systemYellow-vibrant_IC: #ffd426;
      --systemGreen: #32d74b;
      --systemGreen-vibrant: #3ce155;
      --systemGreen-default_IC: #31de4b;
      --systemGreen-vibrant_IC: #31de4b;
      --systemMint: #63e6e2;
      --systemMint-vibrant: #6ce0db;
      --systemMint-default_IC: #63e6e2;
      --systemMint-vibrant_IC: #63e6e2;
      --systemTeal: #6ac4dc;
      --systemTeal-vibrant: #44d4ed;
      --systemTeal-default_IC: #5de6ff;
      --systemTeal-vibrant_IC: #5de6ff;
      --systemCyan: #5ac8f5;
      --systemCyan-vibrant: #5acdfa;
      --systemCyan-default_IC: #70d7ff;
      --systemCyan-vibrant_IC: #70d7ff;
      --systemBlue: #0a84ff;
      --systemBlue-vibrant: #148eff;
      --systemBlue-default_IC: #409cff;
      --systemBlue-vibrant_IC: #409cff;
      --systemBlue-rollover: #47c1ff;
      --systemBlue-pressed: #38b2ff;
      --systemBlue-deepPressed: #47c1ff;
      --systemBlue-disabled: rgba(10, 132, 255, 0.5);
      --systemIndigo: #5e5ce6;
      --systemIndigo-vibrant: #6361f2;
      --systemIndigo-default_IC: #7d7aff;
      --systemIndigo-vibrant_IC: #7d7aff;
      --systemPurple: #bf5af2;
      --systemPurple-vibrant: #cc65ff;
      --systemPurple-default_IC: #da8fff;
      --systemPurple-vibrant_IC: #da8fff;
      --systemPink: #ff375f;
      --systemPink-vibrant: #ff4169;
      --systemPink-default_IC: #ff6482;
      --systemPink-vibrant_IC: #ff3a5f;
      --systemBrown: #ac8e68;
      --systemBrown-vibrant: #b69872;
      --systemBrown-default_IC: #b59469;
      --systemBrown-vibrant_IC: #b59469;
      --systemGray: #98989d;
      --systemGray-vibrant: #a2a2a7;
      --systemGray-default_IC: #98989d;
      --systemGray-vibrant_IC: #98989d;
      --systemPrimary: rgba(255, 255, 255, 0.85);
      --systemPrimary-vibrant: #e5e5e5;
      --systemPrimary-onLight: rgba(0, 0, 0, 0.85);
      --systemPrimary-onDark: rgba(255, 255, 255, 0.85);
      --systemPrimary-default_IC: white;
      --systemPrimary-vibrant_IC: white;
      --systemPrimary-onLight_IC: black;
      --systemPrimary-onDark_IC: white;
      --systemSecondary: rgba(255, 255, 255, 0.55);
      --systemSecondary-vibrant: #7c7c7c;
      --systemSecondary-onLight: rgba(0, 0, 0, 0.5);
      --systemSecondary-onDark: rgba(255, 255, 255, 0.55);
      --systemSecondary-default_IC: rgba(255, 255, 255, 0.7);
      --systemSecondary-vibrant_IC: rgba(255, 255, 255, 0.7);
      --systemSecondary-onLight_IC: rgba(0, 0, 0, 0.76);
      --systemSecondary-onDark_IC: rgba(255, 255, 255, 0.7);
      --systemTertiary: rgba(255, 255, 255, 0.25);
      --systemTertiary-vibrant: #414141;
      --systemTertiary-onLight: rgba(0, 0, 0, 0.25);
      --systemTertiary-onDark: rgba(255, 255, 255, 0.25);
      --systemTertiary-default_IC: rgba(255, 255, 255, 0.5);
      --systemTertiary-vibrant_IC: rgba(255, 255, 255, 0.5);
      --systemTertiary-onLight_IC: rgba(0, 0, 0, 0.56);
      --systemTertiary-onDark_IC: rgba(255, 255, 255, 0.5);
      --systemQuaternary: rgba(255, 255, 255, 0.1);
      --systemQuaternary-vibrant: #232323;
      --systemQuaternary-onLight: rgba(0, 0, 0, 0.1);
      --systemQuaternary-onDark: rgba(255, 255, 255, 0.1);
      --systemQuaternary-default_IC: rgba(255, 255, 255, 0.3);
      --systemQuaternary-vibrant_IC: rgba(255, 255, 255, 0.3);
      --systemQuaternary-onLight_IC: rgba(0, 0, 0, 0.35);
      --systemQuaternary-onDark_IC: rgba(255, 255, 255, 0.3);
      --systemQuinary: rgba(255, 255, 255, 0.05);
      --systemQuinary-vibrant: #080808;
      --systemQuinary-onLight: rgba(0, 0, 0, 0.05);
      --systemQuinary-onDark: rgba(255, 255, 255, 0.05);
      --systemQuinary-default_IC: rgba(255, 255, 255, 0.1);
      --systemQuinary-vibrant_IC: rgba(255, 255, 255, 0.1);
      --systemQuinary-onLight_IC: rgba(0, 0, 0, 0.1);
      --systemQuinary-onDark_IC: rgba(255, 255, 255, 0.1);
      --keyColor: #0a84ff;
      --keyColor-default_IC: #409cff;
      --systemStandardUltrathinMaterialSover: rgba(40, 40, 40, 0.4);
      --systemStandardUltrathinMaterialSover-inactive: #282828;
      --systemStandardUltrathinMaterialSover-default_IC: black;
      --systemStandardUltrathinMaterialSover-inactive_IC: #141414;
      --systemStandardThinMaterialSover: rgba(40, 40, 40, 0.5);
      --systemStandardThinMaterialSover-inactive: #282828;
      --systemStandardThinMaterialSover-default_IC: #0a0a0a;
      --systemStandardThinMaterialSover-inactive_IC: #141414;
      --systemStandardMediumMaterialSover: rgba(40, 40, 40, 0.6);
      --systemStandardMediumMaterialSover-inactive: #282828;
      --systemStandardMediumMaterialSover-default_IC: #141414;
      --systemStandardMediumMaterialSover-inactive_IC: #141414;
      --systemStandardThickMaterialSover: rgba(40, 40, 40, 0.7);
      --systemStandardThickMaterialSover-inactive: #282828;
      --systemStandardThickMaterialSover-default_IC: #1e1e1e;
      --systemStandardThickMaterialSover-inactive_IC: #141414;
      --systemStandardUltrathickMaterialSover: rgba(40, 40, 40, 0.8);
      --systemStandardUltrathickMaterialSover-inactive: #282828;
      --systemStandardUltrathickMaterialSover-default_IC: #282828;
      --systemStandardUltrathickMaterialSover-inactive_IC: #141414;
      --systemHeaderMaterialSover: rgba(30, 30, 30, 0.8);
      --systemHeaderMaterialSover-default_IC: #1e1e1e;
      --systemToolbarTitlebarMaterialSover: rgba(60, 60, 60, 0.8);
      --systemToolbarTitlebarMaterialSover-inactive: #282828;
      --systemToolbarTitlebarMaterialSover-default_IC: #262626;
      --systemToolbarTitlebarMaterialSover-inactive_IC: #141414;
      --labelDivider: rgba(255, 255, 255, 0.1);
      --vibrantDivider: rgba(235, 235, 245, 0.19);
      --pageBG: #1f1f1f;
      --shelfBG: rgba(255, 255, 255, 0.05);
      --genericJoeColor: #323232;
      --fallbackMaterialBG: rgba(31, 31, 31, 0.97);
      --liveBadgePlatterBG: #ff5066;
      --keyColorBackground: #0a84ff;
      --keyColorBackground-default_IC: #409cff;
      --appPrimaryBackgroundColor: #2d2d2d;
      --appSecondaryBackgroundColor: rgba(0, 0, 0, 0.3);
      --alertDropShadowColor: rgba(0, 0, 0, 0.55);
      --alertOuterStrokeColor: rgba(0, 0, 0, 0.5);
      --appModalBackgroundColor: #2d2d2d;
      --artworkBorderColor: rgba(151, 151, 151, 0.2);
      --ctaButtonBackgroundColor: white;
      --cardBackgroundColor: var(--systemQuaternary-onDark);
      --defaultButtonBackgroundColor: rgba(84, 84, 84, 0.5);
      --dialogShadowColor: rgba(0, 0, 0, 0.55);
      --disabledLightColor: rbga(255, 255, 255, 0.4);
      --dividerTextColor: rgba(235, 235, 245, 0.19);
      --fauxNativeSheetBackgroundColor: #2d2d2d;
      --labelSecondary: rgba(60, 60, 67, 0.6);
      --liveBadgeBackgroundColor: #ff5066;
      --mobileNavigationBG: #2e2e2e;
      --modalBoxShadowColor: rgba(0, 0, 0, 0.24);
      --modalCloseButtonIconColor: rgba(235, 235, 245, 0.6);
      --modalContentOverlayColorEnd: #2d2d2d;
      --modalContentOverlayColorStart: rgba(45, 45, 45, 0);
      --modalHeaderBackgroundColor: rgba(45, 45, 45, 0.97);
      --modalHeaderShadowColor: rgba(0, 0, 0, 0.2);
      --modalScrimColor: rgba(0, 0, 0, 0.55);
      --navigationBackgroundColor: #5b5b5b;
      --navigationBorderColor: #353535;
      --navigationBorderBottomColor: #484848;
      --navigationBorderLeftColor: #525252;
      --navigationBorderRightColor: #525252;
      --navigationBorderTopColor: #848484;
      --navigationLinkSelectionStateColor: rgba(235, 235, 245, 0.1);
      --navigationMobileMenuBackgroundColor: white;
      --navigationScrollBackgroundColor: rgba(0, 0, 0, 0.4);
      --navigationScrollBackgroundFallbackColor: rgba(0, 0, 0, 0.6);
      --navigationTextColor: #c8c8c8;
      --overlayBackgroundColor: rgba(51, 51, 51, 0.3);
      --overlayButtonPlatterColor: rgba(255, 255, 255, 0.2);
      --personHeaderBackgroundColor: rgba(40, 40, 40, 0.9);
      --playerBackground: rgba(45, 45, 45, 0.88);
      --playbackOverlayBackgroundColor: rgba(51, 51, 51, 0.7);
      --progressBarColor: rgba(255, 255, 255, 0.4);
      --progressBarFillColor: white;
      --searchInputBorderColor: rgba(255, 255, 255, 0.15);
      --settingsMenuPointer: rgba(45, 45, 45, 0.5);
      --sidebarActiveItemBackgroundColor: rgba(235, 235, 245, 0.1);
      --sidebarBackgroundColor: rgba(235, 235, 245, 0.03);
      --sidebarSearchInputBorderColor: rgba(255, 255, 255, 0.15);
      --sportLockupClockTimeBadgeBackgroundColor: rgba(0, 0, 0, 0.2);
      --sportLockupScoreBadgeDivider: rgba(0, 0, 0, 0.15);
      --unifiedVolumeThumbShadow: rgba(0, 0, 0, 0.1);
      --unifiedVolumeThumbShadowInset: rgba(0, 0, 0, 0.15);
      --unifiedVolumeTrackFilled: rgba(246, 246, 246, 0.36);
      --unifiedVolumeThumb: #d0d0d0;
      --unifiedPlayerIcons: rgba(255, 255, 255, 0.9);
  }

  @supports not (font: -apple-system-body) {
      :root {
          --systemPrimary: rgba(255, 255, 255, 0.92);
          --systemPrimary-vibrant: #f5f5f7;
          --systemPrimary-onLight: rgba(0, 0, 0, 0.88);
          --systemPrimary-onDark: rgba(255, 255, 255, 0.92);
          --systemSecondary: rgba(255, 255, 255, 0.64);
          --systemSecondary-vibrant: #a1a1a6;
          --systemSecondary-onLight: rgba(0, 0, 0, 0.56);
          --systemSecondary-onDark: rgba(255, 255, 255, 0.64);
          --systemTertiary: rgba(255, 255, 255, 0.4);
          --systemTertiary-vibrant: #6e6e73;
          --systemTertiary-onLight: rgba(0, 0, 0, 0.48);
          --systemTertiary-onDark: rgba(255, 255, 255, 0.4);
          --keyColorBackground:#0040dd
      }
  }

  :root .increase-contrast {
      --systemRed: #ff6961;
      --systemRed-vibrant: #ff4136;
      --systemOrange: #ffb340;
      --systemOrange-vibrant: #ffb340;
      --systemYellow: #ffd426;
      --systemYellow-vibrant: #ffd426;
      --systemGreen: #31de4b;
      --systemGreen-vibrant: #31de4b;
      --systemMint: #63e6e2;
      --systemMint-vibrant: #63e6e2;
      --systemTeal: #5de6ff;
      --systemTeal-vibrant: #5de6ff;
      --systemCyan: #70d7ff;
      --systemCyan-vibrant: #70d7ff;
      --systemBlue: #409cff;
      --systemBlue-vibrant: #409cff;
      --systemIndigo: #7d7aff;
      --systemIndigo-vibrant: #7d7aff;
      --systemPurple: #da8fff;
      --systemPurple-vibrant: #da8fff;
      --systemPink: #ff6482;
      --systemPink-vibrant: #ff3a5f;
      --systemBrown: #b59469;
      --systemBrown-vibrant: #b59469;
      --systemGray: #98989d;
      --systemGray-vibrant: #98989d;
      --systemPrimary: white;
      --systemPrimary-vibrant: white;
      --systemPrimary-onLight: black;
      --systemPrimary-onDark: white;
      --systemSecondary: rgba(255, 255, 255, 0.7);
      --systemSecondary-vibrant: rgba(255, 255, 255, 0.7);
      --systemSecondary-onLight: rgba(0, 0, 0, 0.76);
      --systemSecondary-onDark: rgba(255, 255, 255, 0.7);
      --systemTertiary: rgba(255, 255, 255, 0.5);
      --systemTertiary-vibrant: rgba(255, 255, 255, 0.5);
      --systemTertiary-onLight: rgba(0, 0, 0, 0.56);
      --systemTertiary-onDark: rgba(255, 255, 255, 0.5);
      --systemQuaternary: rgba(255, 255, 255, 0.3);
      --systemQuaternary-vibrant: rgba(255, 255, 255, 0.3);
      --systemQuaternary-onLight: rgba(0, 0, 0, 0.35);
      --systemQuaternary-onDark: rgba(255, 255, 255, 0.3);
      --systemQuinary: rgba(255, 255, 255, 0.1);
      --systemQuinary-vibrant: rgba(255, 255, 255, 0.1);
      --systemQuinary-onLight: rgba(0, 0, 0, 0.1);
      --systemQuinary-onDark: rgba(255, 255, 255, 0.1);
      --keyColor: #409cff;
      --systemStandardUltrathinMaterialSover: black;
      --systemStandardUltrathinMaterialSover-inactive: #141414;
      --systemStandardThinMaterialSover: #0a0a0a;
      --systemStandardThinMaterialSover-inactive: #141414;
      --systemStandardMediumMaterialSover: #141414;
      --systemStandardMediumMaterialSover-inactive: #141414;
      --systemStandardThickMaterialSover: #1e1e1e;
      --systemStandardThickMaterialSover-inactive: #141414;
      --systemStandardUltrathickMaterialSover: #282828;
      --systemStandardUltrathickMaterialSover-inactive: #141414;
      --systemHeaderMaterialSover: #1e1e1e;
      --systemToolbarTitlebarMaterialSover: #262626;
      --systemToolbarTitlebarMaterialSover-inactive: #141414;
      --keyColorBackground:#409cff
  }
}