.movie-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.movie-item:last-child {
  border-bottom: none;
}

.movie-item-image {
  width: 240px;
  height: 160px;
  object-fit: cover;
  margin-right: 20px;
}

.movie-item-details {
  flex: 1;
}

.movie-item-title {
  margin: 0;
  font-size: 1.2em;
}

.movie-item-year {
  margin: 0;
  color: #000000;
}

.movie-item-description {
  margin: 0;
  color: #000000;
}

.movie-item-rating {
  margin: 0;
  color: #ffa600;
}

/* .movie-item-genre {
  margin: 0;
  color: #000000;
}

.movie-item-price {
  margin: 0;
  color: #000000;
} */
