@media only screen and (max-width: 1679px) {
  .product-header__wrapper {
      width: 100%;
      /* height: 56.25vw; */
  }
}

.clr-primary-text-on-dark, .person-header__container {
  color: rgba(255, 255, 255, 0.85);
  /* color:var(--systemPrimary-onDark)  */
}

.product-header__wrapper {
  background-color: #000 !important;
  position: relative;
  margin: auto;
  max-width: 1680px;
  height: calc(1680px * 9 / 16);
  --transition: color 250ms ease-in-out;
  z-index:1
}

.product-header__wrapper--with-color-transition, .product-header__wrapper--with-color-transition .coming-soon__channel, .product-header__wrapper--with-color-transition .secondary-text {
  transition: color 250ms ease-in-out;
}

.product-header__content__buttons {
  position: relative;
  grid-column: 1;
  z-index:1
}


/* ################################################################ */
.product-header__image-bg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease-in-out;
  z-index:1
}

.product-header__image-bg--hidden {
  opacity:0
}

/* ################################################################ */
.product-header__main__container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  padding-top: 70px;
  z-index:5
}

.product-header__content__container {
  width: 100%;
  display: grid;
  padding: 0 40px 30px;
  grid-gap: 0 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

@media only screen and (max-width: 739px) {
  .product-header__content__container {
      padding: 24px 25px 12px;
      display:block
  }
}

@media only screen and (min-width: 740px) {
  .product-header__content__container {
      grid-template-columns: repeat(3, 1fr);
      padding-top: 24px;
      padding-bottom:40px
  }
}

@media only screen and (min-width: 1000px) {
  .product-header__content__container {
      grid-template-columns:repeat(4, 1fr)
  
  }
}

@media only screen and (min-width: 1320px) {
  .product-header__content__container {
      grid-template-columns:repeat(5, 1fr)
  
  }
}


/* ################################################################ */
.product-header__blur {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .068) 3.3%, rgba(0, 0, 0, .145) 5.9%, rgba(0, 0, 0, .227) 8.1%, rgba(0, 0, 0, .313) 10.1%, rgba(0, 0, 0, .401) 12.1%, rgba(0, 0, 0, .49) 14.6%, rgba(0, 0, 0, .578) 17.7%, rgba(0, 0, 0, .661) 21.8%, rgba(0, 0, 0, .74) 27.1%, rgba(0, 0, 0, .812) 33.9%, rgba(0, 0, 0, .875) 42.4%, rgba(0, 0, 0, .927) 53%, rgba(0, 0, 0, .966) 66%, rgba(0, 0, 0, .991) 81.5%, rgba(0, 0, 0, .991) 100%);
  mask-image:linear-gradient(to bottom, transparent, rgba(0, 0, 0, .068) 3.3%, rgba(0, 0, 0, .145) 5.9%, rgba(0, 0, 0, .227) 8.1%, rgba(0, 0, 0, .313) 10.1%, rgba(0, 0, 0, .401) 12.1%, rgba(0, 0, 0, .49) 14.6%, rgba(0, 0, 0, .578) 17.7%, rgba(0, 0, 0, .661) 21.8%, rgba(0, 0, 0, .74) 27.1%, rgba(0, 0, 0, .812) 33.9%, rgba(0, 0, 0, .875) 42.4%, rgba(0, 0, 0, .927) 53%, rgba(0, 0, 0, .966) 66%, rgba(0, 0, 0, .991) 81.5%, rgba(0, 0, 0, .991) 100%)
}

.dark-content .product-header__blur {
  background-color:#0a0a0a
}

@supports ((-webkit-backdrop-filter: initial) or(backdrop-filter: initial)) {
  .dark-content .product-header__blur {
      background-color: rgba(40, 40, 40, .5);
      -webkit-backdrop-filter: saturate(190%) blur(60px);
      backdrop-filter:saturate(190%) blur(60px)
  }

  @media (prefers-color-scheme: dark) {
      .dark-content .product-header__blur {
          -webkit-backdrop-filter: saturate(180%) blur(60px);
          backdrop-filter:saturate(180%) blur(60px)
      }
  }
}

@media only screen and (prefers-contrast: more) {
  .dark-content .product-header__blur {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      background-color:#0a0a0a
  }
}

.light-content .product-header__blur {
  background-color:#dcdcdc
}

/* ################################################################ */
.product-header__content__buttons > :last-of-type {
  margin-bottom:0
}

.video-data-services-buttons__list {
  width:100%
}

.video-data-services-buttons__list-item {
  text-align: center;
  position:relative
}

.video-data-services-buttons__list-item:not(:last-of-type) {
  margin-bottom:12px
}

@media only screen and (max-width: 739px) {
  .video-data-services-buttons__list-item:not(:last-of-type) {
      margin-bottom:5px
  }
}

/* ################################################################ */
[type=button], [type=reset], [type=submit], button {
  appearance: button;
  -webkit-appearance: button;
}

.typography-title-3-emphasized {
  font-size: 15px;
  line-height: 1.33338;
  font-weight: 600;
  letter-spacing:0
}

.typography-title-3 {
  font-size: 15px;
  line-height: 1.33338;
  font-weight: 400;
  letter-spacing:0
}

.video-data-services-button, .video-data-services-buttons__disclaimer--dark {
  color: rgba(0, 0, 0, 0.85);
  /* color:var(--systemPrimary-onLight) */
}

.video-data-services-button {
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  /* background-color: var(--ctaButtonBackgroundColor); */
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.video-data-services-button:hover {
  cursor:pointer
}

@media only screen and (max-width: 739px) {
  .video-data-services-button {
      height: 36px;
      width: 220px;
      margin:auto
  }
}

.video-data-services-button__text {
  padding: 2px;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:hidden
}



/* ################################################################ */
.video-data-services-button__glyph {
  background-color: currentColor;
  display: inline-block;
  min-width: 12px;
  height: 12px;
  /* -webkit-mask-image: url(button_glyphs/button_play@2x-72033fc20262613abda5455109f35915.png);
  mask-image: url(button_glyphs/button_play@2x-72033fc20262613abda5455109f35915.png); */
  -webkit-mask-size: 12px 12px;
  mask-size: 12px 12px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin-right:6px
}

.skip-intro__button__glyph--add, .video-data-services-button__glyph--add {
  -webkit-mask-image: url(../assets/button_add@2x.png);
  mask-image:url(../assets/button_add@2x.png)
}



/* ################################################################ */
.product-header__content__details {
  position: relative;
  width: 100%;
  z-index:1
}

@media only screen and (min-width: 740px) {
  .product-header__content__details {
      grid-column:2/3
  }
}

@media only screen and (min-width: 740px) and(max-width: 999px) {
  .product-header__content__details:last-child {
      grid-column: 2/-1;
      display:flex
  }
}

@media only screen and (min-width: 1000px) {
  .product-header__content__details {
      grid-column:2/4
  }
}

@media only screen and (min-width: 1320px) {
  .product-header__content__details {
      grid-column:2/5
  }
}

/* ################################################################ */
.line-clamp-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: calc(10px * -1);
  margin-bottom: calc(10px * -1);
  margin-right: calc(10px * -1);
  margin-left: calc(10px * -1);
  padding:10px
}

.line-clamp {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow:hidden
}

.product-header__content__details .line-clamp-wrapper {
  margin-bottom:4px
}

@media only screen and (min-width: 740px) {
  .product-header__content__details .line-clamp-wrapper {
      margin-bottom:16px
  }
}

@media only screen and (max-width: 739px) {
  .product-header__content__details__synopsis {
      margin-top: 4px;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow:hidden
  }
}

@media only screen and (min-width: 740px) {
  .product-header__content__details__synopsis {
      display: -webkit-box;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow:hidden
  }
}

.product-header__wrapper.dark-content .coming-soon__channel, .product-header__wrapper.dark-content .secondary-text {
  color: rgba(255, 255, 255, 0.55);
  /* color:var(--systemSecondary-onDark) */
}



.product-header__content__details__metadata {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 14px;
  margin-bottom: 12px;
  z-index:1
}

@media only screen and (min-width: 740px) {
  .product-header__content__details__metadata {
      position: absolute;
      bottom: 1px;
      margin-bottom:unset
  }
}

.typography-subhead-emphasized {
  font-size: 11px;
  line-height: 1.27273;
  font-weight: 600;
  letter-spacing:0
}

.product-header__content__details__metadata--info {
  margin-right:24px
}



/* ################################################################ */
.product-header__content__crews {
  position:relative
}

@media only screen and (max-width: 739px) {
  .product-header__content__crews {
      display:none
  }
}

.product-header__content__crews__list {
  display:inline
}

/* ################################################################ */
.product-main {
  max-width: 1680px;
  margin:auto
}

.divider {
  margin: 0 auto;
  width:calc(100% - 80px)
}

.preview-product-header__content__details__metadata--info span:not(:first-child)::before, .product-header__content__details__metadata--info span:not(:first-child)::before {
  content: ' · '
}

@media only screen and (min-width: 740px) {
  .product-header__content__details .line-clamp-wrapper {
    margin-bottom:16px         
  }
}

.product-header__content__details .line-clamp-wrapper {
  margin-bottom: 4px
}


.line-clamp-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: calc(10px * -1);
  margin-bottom: calc(10px * -1);
  margin-right: calc(10px * -1);
  margin-left: calc(10px * -1);
  padding:10px
}

.product-header__content__availability-text {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}