/* 1243 */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin:0
}

/* 1250 */
button, input {
  overflow:visible
}

button, select {
  text-transform:none
}

/* 1258 */
[type=button], [type=reset], [type=submit], button {
  appearance:button;
  -webkit-appearance:button
}

/* 1269 */
[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset:-2px
}

/* 1314 */
body, button, input, select, textarea {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale
}

/* 1347 */
:focus {
  outline: #0071E3 solid 2px;
  outline-offset:0
}

/* 1444 */
body, button, input, select, textarea {
  font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
}

/* 4065 */
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis
}

/* 4075 */
:focus[data-focus-method=mouse] {
  outline:0
}

/* 6803 */
.search-header__search-input-wrapper {
  order:2
}

@media only screen and (min-width: 740px) {
  .search-header__search-input-wrapper {
      margin-right:12px
  }
}

/* 6817 */
.search-header__search {
  margin-top: 24px;
  width: 100%;
  display: none;
  position: relative;
  z-index:1
}

@media only screen and (min-width: 740px) {
  .search-header__search {
      margin-top: 0;
      display: block;
      grid-area:search
  }
}

/* 6833 */
.search-header__search-input {
  height: 38px;
  width: 100%;
  border-radius: 9px;
  border: 1px solid var(--searchInputBorderColor);
  box-sizing: border-box;
  /* padding-bottom: 1px; */
  background-color: transparent;
  color: var(--systemSecondary);
  font-size: 17px;
  line-height: 1.29412;
  font-weight: 400;
  letter-spacing: 0;
  padding-left: 26px;
  padding-right:25px
}

.search-header__search-input:focus {
  outline:0
}

/* 6881 */
@media only screen and (min-width: 740px) {
  .search-header__search-input {
      border-radius: 4px;
      color: var(--systemPrimary-onDark);
      height: 28px;
      min-width: 102px;
      max-width: 142px;
      border: 1px solid #fff;
      background-color: transparent;
      font-size: 15px;
      line-height: 1.33338;
      font-weight: 400;
      letter-spacing:0
  }

  .search-header__search-input::-webkit-input-placeholder {
      color:var(--systemSecondary-onDark)
  }

  .search-header__search-input::-moz-placeholder {
      color:var(--systemSecondary-onDark)
  }

  .search-header__search-input::-ms-input-placeholder {
      color:var(--systemSecondary-onDark)
  }

  .search-header__search-input::placeholder {
      color:var(--systemSecondary-onDark)
  }

  .search-header__search-input:lang(th) {
      line-height:1.86667
  }
}

/* 6917 */
@media only screen and (min-width: 1000px) {
  .search-header__search-input {
      max-width: unset;
      width:172px
  }
}

/* 6924 */
.search-header__form-input-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border:0
}

/* 6936 */
.search-header__button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  fill:var(--systemSecondary)
}

@media only screen and (min-width: 740px) {
  .search-header__button {
    fill:var(--systemSecondary-onDark)
  }
}

/* 6964 */
.search-header__search-icon {
  margin-top: -1px;
  height: 15px;
  width: 15px;
  order: 1;
  position: absolute;
  top: 12px;
  fill: var(--systemSecondary);
  pointer-events: none;
  left: 8px;
  /* margin-right: 14px; */
  z-index:1
}

/* 6977 */
@media only screen and (min-width: 740px) {
  .search-header__search-icon {
      top: 7px;
      fill: var(--systemSecondary-onDark);
      left:6px
  }
}

.search-header__button--close {
  display: none;
  position: absolute;
  height: 14px;
  width: 14px;
  top: 12px;
  right: 11px;
  z-index:1
}

@media only screen and (min-width: 740px) {
  .search-header__button--close {
    top: 7px;
    right:18px
  }
}

/* 7000 */
.search-header__button--close.has-search-text, .search-header__search-page, .search-header__button--close {
  display:block
}

/* 7700 */
.search-hints {
  padding: 6px 10px;
  width: 282px;
  max-height: calc(100vh - 55px - 54px - 25px + 3px);
  position: absolute;
  top: 32px;
  border-radius: 9px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: start;
  z-index:9962
}

@media only screen and (min-width: 740px) {
  .search-hints {
      width: 300px;
      right:12px
  }
}

/* 7749 */
.search-hints.is-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border:0
}

/* 10919 */
.nav-header, .nav-header__wrapper {
  height: 44px;
  background-color:#000
}

/* 10940 */
.nav-header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  left:0
}

@media only screen and (min-width: 740px) {
  .nav-header {
      margin: auto;
      height:52px
  }

  .nav-header--commerce {
      position:relative
  }
}

/* 10969 */
.nav-header__content {
  position: relative;
  max-width: 1680px;
  z-index: 1;
  padding-left: 25px;
  padding-right:25px
}

@media only screen and (max-width: 739px) {
  .nav-header__content {
      width:100%
  }
}

@media only screen and (min-width: 740px) {
  .nav-header__content {
      margin: auto;
      padding-left: 40px;
      padding-right:40px
  }
}

/* 11085 */
@media only screen and (min-width: 740px) {
  .nav-header__desktop-links {
      grid-area: tvlinks;
      justify-self:center
  }
}

/* 11133 */
.nav-header__link {
  transition-property:opacity, transform
}

/* 11179 */
@media only screen and (min-width: 740px) {
  .nav-header__link {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.47;
  
  }
}

/* 11384 */
.nav-header__user-controls {
  grid-area: auth;
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 0;
}

/* 11449 */
.nav-header__user-image__wrapper {
  text-align: right;
  height: 28px;
  width: 28px;
  margin:0
}

/* 11778 */
.nav-header__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 'trigger logo auth';
  align-items:center
}

@media only screen and (min-width: 740px) {
  .nav-header__content {
      grid-template-rows: 52px;
      grid-template-areas: 'opentv tvlinks auth';
      width:100%
  }
}

/* 11820 */
.nav-header__desktop {
  display:none
}

@media only screen and (min-width: 740px) {
  .nav-header__desktop {
      display:block
  }
}

.nav-header__desktop-links {
  margin-right:16px
}

/* 16659 */
.nav-header-auth .ember-basic-dropdown-overlay {
  position: fixed;
  inset: 0;
  z-index:9961
}

/* 16665 */
.context-menu, .nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2), 0 8px 40px var(--dialogShadowColor);
  z-index:9962
}

.nav-header__user-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit:cover
}

.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content-wormhole-origin {
  position:relative
}

/* 16682 */
.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content {
  position: absolute;
  border-radius: 6px;
  border: .5px solid rgba(0, 0, 0, .2);
  min-width: 185px;
  max-width: 350px;
  margin-top: 10px;
  background-color: var(--systemStandardThickMaterialSover-default_IC);
  left: auto !important;
  right:0
}

/* 16694 */
.context-menu__option:not(:last-child), .context-menu__title, .nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__option:not(:last-child) {
  border-bottom:.5px solid var(--labelDivider)
}

@supports ((-webkit-backdrop-filter: initial) or(backdrop-filter: initial)) {
  .nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content {
      background-color: var(--systemStandardThickMaterialSover);
      -webkit-backdrop-filter: blur(60px) saturate(210%);
      backdrop-filter:blur(60px) saturate(210%)
  }

  @media (prefers-color-scheme: dark) {
      .nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content {
          -webkit-backdrop-filter: saturate(60px) blur(220%);
          backdrop-filter:saturate(60px) blur(220%)
      }
  }
}

/* 16721 */
@supports (background-image: -webkit-named-image(apple-pay-logo-black)) or(-webkit-appearance: -apple-pay-button) {
  .nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content {
      -webkit-animation-name: menu-thick-material-fix;
      animation-name: menu-thick-material-fix;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode:forwards
  }

  @media only screen and (prefers-color-scheme: dark) {
      .nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content {
          -webkit-animation-name: menu-thick-material-fix-dark;
          animation-name:menu-thick-material-fix-dark
      }
  }
}

/* 16743 */
.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__options {
  position: relative;
  border-radius: inherit;
  z-index:1
}

.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__option {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  height: 32px;
  min-height: 0;
  color: var(--systemPrimary);
  z-index: 1;
  margin-top: calc(1px * -1);
  font-size: 13px;
  line-height: 1.23077;
  font-weight: 400;
  letter-spacing: 0;
  padding:1px 0 0
}

/* 16771 */
.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__option:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius:6px
}

/* 16795 */
.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__option-text {
  display: flex;
  align-items:center
}

.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__option-text:first-child {
  width: 100%;
  height:100%
}

/* 16821 */
.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__option-text .nav-header__user-dropdown-menu__clickable {
  background: 0 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding:10px 16px
}

@media only screen and (min-width: 740px) {
  .nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .nav-header__user-dropdown-menu__option-text .nav-header__user-dropdown-menu__clickable {
      padding-right: 10px;
      padding-left:10px
  }
}

.nav-header-auth .ember-basic-dropdown .ember-basic-dropdown-content .option--sign-out {
  color:var(--systemRed-default_IC)
}

/* 16856 */
.nav-header-auth .ember-basic-dropdown .nav-header__user-dropdown-menu__options--pointer::after, .nav-header-auth .ember-basic-dropdown .nav-header__user-dropdown-menu__options--pointer::before {
  content: '';
  position: absolute;
  top: -7px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px;
  border-color: transparent transparent var(--settingsMenuPointer);
  background-color: transparent;
  z-index: 0;
  right:6px
}

.nav-header-auth .ember-basic-dropdown::after {
  top: -8px;
  border-color: transparent transparent var(--settingsMenuPointer);
  z-index:-1
}