.purchase-history-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.purchase-history-item:last-child {
  border-bottom: none;
}

.purchase-history-date {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.purchase-history-details {
  display: flex;
  flex-wrap: wrap;
}

.purchase-history-movie {
  display:table-column;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.purchase-history-movie-image {
  width: 240px;
  height: 160px;
  object-fit: cover;
  margin-right: 10px;
}

.purchase-history-movie-info {
  flex: 1;
}

.purchase-history-movie-title {
  margin: 0;
  font-size: 1.1em;
}

.purchase-history-movie-price {
  margin: 0;
  color: #888;
}

.purchase-history-summary {
  margin-top: 10px;
  font-size: 1.1em;
}
