.filmTitle, .filmStory, .filmGenre {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.filmTitle {
    -webkit-line-clamp: 2;
}

.filmStory {
    -webkit-line-clamp: 4;
}

.filmGenre {
    -webkit-line-clamp: 1;
}