<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie List</title>
    </head>
    <body>
        {% if movie %}
            <p>Name: {{movie.name}}</p><br>
            <p>Genres:
                {% for genre in movie.genre.all %}
                    {{genre.name}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p><br>

            <p>Authors:
                {% for author in movie.author.all %}
                    {{author.name}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p><br>
            
            <p>Actors:
                {% for actor in movie.actor.all %}
                    {{actor.name}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p><br>

            <p>story: {{movie.story}}</p><br>
            <p>rating: {{movie.rating}}/10</p>
            <p>release_date: {{movie.release_date}}</p>
            <p>link ảnh: {{movie.cover}}</p>
            <img src="{{movie.cover}}" alt="text" width="width_value" height="height_value"><br>
        {% else %}
            <h1>Jack chưa có phim này</h1>
        {% endif %}
    </body>
</html>