<!-- navbar.html -->
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if 'user_id' not in request.session %}
            <li><a href="{% url 'login' %}">Đăng nhập</a></li>
            <li><a href="{% url 'register' %}">Đăng kí</a></li>
        {% else %}
            <li>Xin chào {{user.user_name}}</li>
            <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
            <li><a href="{% url 'Viewcart' %}">Giỏ hàng</a></li>
        {% endif %}
    </ul>
</nav>
