{% extends 'base.html' %}

{% block content %}
    {% if film %}
        <ul>
            <li>Name: {{film.name}}</li>
            <li>Genres: {{film.genre}}</li>
            <li>Genres: {{film.author}}</li>
            <li>Actors: {{film.actor}}</li>
            <li>story: {{film.story}}</li>
            <li>rating: {{film.rating}}/10</li>
            <li>release_date: {{film.release_date}}</li>
            <li>price: {{film.price}}</li>
        </ul>
        <img src="{{film.cover}}" alt="text" width="width_value" height="height_value"><br>
        <!-- Thêm vào giỏ hàng -->
        <form method="post" action="{% url 'Addcart' %}">
            {% csrf_token %}
            <input type="hidden" name="id_film" value="{{ film.id }}">
            <button type="submit">Thêm vào giỏ hàng</button>
        </form>
    {% else %}
        <p>Jack chưa có phim này</p>
    {% endif %}

{% endblock %}