<!-- film_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ film.title }}</title>
</head>
<body>
    <h1>{{ film.film_name }}</h1>
    <p>Release Date: {{ film.release_date }}</p>
    <p>Director: {{ film.author }}</p>
    <p>Genre: {{ film.genre }}</p>
    <p>Description: {{ film.story }}</p>
    <p>Rating: {{ film.rating }}</p>
    {% if film.cover %}
        <img src="{{ film.cover.url }}" alt="Cover image" style="width:100px;height:auto;">
    {% endif %}
    <p>Price: {{ film.price }}</p>

    {% if user.is_authenticated %}
        <p>Your clicks: {{ num_click }}</p>
    {% endif %}

    <a href="{% url 'home' %}">Trang chủ</a>
    <a href="{% url 'logout' %}"> Đăng xuất</a>
</body>
</html>
