{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/home">
            <img src="{% static 'img/logo.png' %}" height="30" alt="UFO Logo"
                loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/home">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recommend">Đề xuất</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Lọc phim</a>
            </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Search Bar -->
        <form method="get" action="{% url 'search' %}"  style="padding-right: 20px;">
        <div class="input-group">
            <div class="form-outline" data-mdb-input-init style="width: 50vw;">
            <input type="search" id="form1" class="form-control" name="film_name" value="{{ film_name }}"/>
            <label class="form-label" for="form1">Search</label>
            </div>
            <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
            <i class="fas fa-search"></i>
            </button>
        </div>
        </form>
        <!-- Search Bar -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="/cart">
            <i class="fas fa-shopping-cart"></i>
            {% if num_items_in_cart > 0 %}
                <span id="cart-count" class="badge rounded-pill badge-notification bg-danger" style="display: inline-block;">{{ num_items_in_cart }}</span>
            {% else %}
                <span id="cart-count" class="badge rounded-pill badge-notification bg-danger" style="display: none;">{{ num_items_in_cart }}</span>
            {%endif%}
            </a>
        </div>

        {% if user_logged_in %}
            <!-- Avatar -->
            <div class="dropdown">
            <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                <img src="{% static 'img/user-avatar.png' %}" class="rounded-circle" height="25"
                    alt="Ảnh đại diện cho người dùng" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                <a class="dropdown-item" href="/profile">Thông tin của tôi</a>
                </li>
                <li>
                <a class="dropdown-item" href="/all-bill">Đơn hàng của tôi</a>
                </li>
                <li>
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
                </li>
            </ul>
            </div>
        {% else %}
            <!-- Login/Register -->
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary" data-mdb-color="dark"  data-mdb-ripple-init onclick="window.location.href='/login';">Đăng nhập</button>
                <button type="button" class="btn btn-outline-secondary" data-mdb-color="dark"  data-mdb-ripple-init onclick="window.location.href='/register';">Đăng ký</button>
            </div>
        {% endif %}
    </div>
    <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>